.main-header {
  width: 100%;
  padding: 20px;
  top: 0;
  background-color: #282C2F;
  color: white;
}

.main-header a:link {
  color: rgb(0, 183, 255);
}

.main-header a:visited {
  color: rgb(228, 86, 197);
}

.postcontentbox {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.comment {
  border: 1px solid #ccc;
  border-radius: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
}

footer {
  width: 200%;
  padding: 20px;
  bottom: 0;
  background-color: #282C2F;
  color: white;
}

footer a:link {
  color: rgb(0, 183, 255);
}

footer a:visited {
  color: rgb(228, 86, 197);
}

.about p {
  color: grey;
}