@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* .App {
  background-image: "./images/Office Building Background.jpg";
} */

.main-header {
  width: 100%;
  padding: 20px;
  top: 0;
  background-color: #282C2F;
  color: white;
}

.navbar a:link {
  color: rgb(0, 183, 255);
}

.navbar a:visited {
  color: rgb(228, 86, 197);
}

.logo {
  font-family: 'Anton';
  color: white;
  font-size: 4rem;
  text-decoration: none;
  border: 5px solid white;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
}

.logo:visited {
  color: white;
}

.postcontentbox {
  background-color: #282c2f73;
  border: 6px solid #282C2F;
  padding: 15px;
  border-radius: 60px 60px 60px 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.postcontentbox img {
  width: 120px;
  height: 120px;
  border: 5px solid rgb(87, 87, 87);
  border-radius: 55px;
}

.comment {
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
}

footer {
  width: 100%;
  padding: 20px;
  bottom: 0;
  background-color: #282C2F;
  color: white;
}

footer a:link {
  color: rgb(0, 183, 255);
}

footer a:visited {
  color: rgb(228, 86, 197);
}

.about p {
  color: grey;
}

.login_page {
  display: flex;
  align-items: center;
}

.signin {
  text-align: center;
  border: 2px solid black;
  width: 50%;
  padding-bottom: 20px;
  border-radius: 16px;
}

.signup {
  text-align: center;
  border: 2px solid black;
  width: 50%;
  padding-bottom: 20px;
  border-radius: 16px;  
}